body {
  background-color: #873e23;
}


.submit {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    line-height: 20px;
    align-items: center;
    font-weight: 600;
    background-clip: padding-box;
    line-height: 20px;
    align-items: center;
    color: darkturquoise;
}

h1 {
    font-family: Chalkboard;
}